body {
    font-family: Raleway, sans-serif;
    margin: 0;
    letter-spacing: 1px;
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: white;
    
    height: 100vh;
    width: 100vw;
}

#login {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sample-img {
    width: 100%;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.button-header {
    color: #125688;
    
    text-align: center;
    
    width: 300px;
    
    margin-bottom: 15px;
}

.insta-button {
    background-color: #125688;
    color: white;
    
    width: 300px;
    height: 65px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 5px;
}

.insta-button img {
    height: 30px;
    width: 30px;
}

.insta-label {
    font-size: 19px;
    font-family: "Raleway Thin", sans-serif;
    font-weight: 100;
    
    margin-left: 15px;
}

#feed {
    display: none;
}

.feed-wrapper {
    width: 100vw;
}

.feed-row {
    width: 100vw;
    height: 33.33vw;
    
    display: flex;
}

.feed-item {
    margin: 1px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    flex-grow: 1;
}

.profile-top {
    width: 100vw;
}